[assets]
fonts_dir = [""]
templates_dir = ""

[server]
host = "localhost"
port = 8000
api_key = ""

[metadata]
author=""
creator=""
producer=""

[signer]
enabled=true
private_key="private.key.pem"
certificate_path="crt.pem"
root_certificate_path="root.crt.pem"

